#jinja2:lstrip_blocks: True

Host {{ HostLabel }}
	{% if Preferredauthentications is defined and Preferredauthentications != "" %} Preferredauthentications {{ Preferredauthentications }} {% endif %}

	{% if User is defined and User != "" %} User {{ User }} {% endif %}

	{% if IdentityFile is defined and IdentityFile != "" %} IdentityFile {{ IdentityFile }} {% endif %}

	{% if HostName is defined and HostName != "" %} HostName {{ HostName }} {% endif %}

	{% if ProxyCommand is defined and ProxyCommand != "" %} ProxyCommand {{ ProxyCommand }} {% endif %}

	{% if Port is defined and Port != "" %} Port {{ Port }} {% endif %}

	{% if StrictHostKeyChecking is defined and StrictHostKeyChecking != "" %} StrictHostKeyChecking {{ StrictHostKeyChecking }} {% endif %}
